# BigQuery SQL Operations

### Overview
In this notebook, you will perform essential BigQuery SQL operations. You'll learn how to create datasets and tables, insert and manage records, and clean up by dropping tables and datasets.

### About the Environment
This notebook is running on a Python 3 kernel. We will use BigQuery magic commands which allow us to run BigQuery SQL queries directly within the notebook cells. To execute a BigQuery SQL query, we use the `%%bigquery` magic command at the beginning of the cell.

### Authenticate to Google Cloud & set the BigQuery project

This notebook runs on Google Colab. Use the following cell to authenticate with your Google account and set the project for BigQuery magics.

In [ ]:
# Authenticate
from google.colab import auth
auth.authenticate_user()

# Set your GCP project id
PROJECT_ID = "pp-bigquery-02"

# Tell the magics & client which project to use
import os
os.environ['GOOGLE_CLOUD_PROJECT'] = PROJECT_ID

from google.cloud.bigquery.magics import context
context.project = PROJECT_ID
print('Project set to:', context.project)

Note: The `<your_name>` placeholder is used to create a unique dataset name for each user to prevent conflicts. Replace `<your_name>` with your actual name or a unique identifier.

### Step 1: Create a New Dataset
Create a new dataset to hold your tables. Use the SQL statement below and make sure to replace `<your_name>` with your actual name to avoid conflicts.

In [ ]:
%%bigquery
CREATE SCHEMA IF NOT EXISTS `pp-bigquery-02.demo_dataset_<your_name>`;

### Step 2: Create a New Table with Descriptions
Create a new table within your dataset to store records. Use the SQL statement below to create the table with appropriate columns, data types, and descriptions.

In [ ]:
%%bigquery

CREATE TABLE IF NOT EXISTS `pp-bigquery-02.demo_dataset_<your_name>.demo_table` (
    user_id INTEGER OPTIONS(description="Unique identifier for the user"),
    user_first_name STRING OPTIONS(description="First name of the user"),
    user_last_name STRING OPTIONS(description="Last name of the user"),
    is_active BOOLEAN OPTIONS(description="Indicates whether the user is active")
);

### Step 3: Check for Existing Records
Before inserting new records, check if the table already has any records. Use the SQL statement below.

In [ ]:
%%bigquery
SELECT * FROM `pp-bigquery-02.demo_dataset_<your_name>.demo_table`;

### Step 4: Insert Records
Insert multiple records into your table. Use the SQL statement below to insert sample records.

In [ ]:
%%bigquery

INSERT INTO `pp-bigquery-02.demo_dataset_<your_name>.demo_table` (user_id, user_first_name, user_last_name, is_active) VALUES 
(1, 'John', 'Doe', TRUE),
(2, 'Priya', 'Kumar', NULL),
(3, 'Rohan', 'Gupta', TRUE),
(4, 'Lakshmi', 'Patel', FALSE),
(5, 'Arjun', 'Singh', TRUE),
(6, 'Sara', 'Sharma', NULL),
(7, 'Vivek', 'Mehta', TRUE),
(8, 'Anita', 'Desai', FALSE),
(9, 'Dev', 'Mishra', TRUE),
(10, 'Kiran', 'Bose', TRUE);

### Step 5: View Inserted Records
After inserting the records, view the inserted records to verify the insertion. Use the SQL statement below.

In [ ]:
%%bigquery
SELECT * FROM `pp-bigquery-02.demo_dataset_<your_name>.demo_table`;

### Step 6: Count the Records
To know the total number of records in the table, use the SQL statement below.

In [ ]:
%%bigquery
SELECT COUNT(*) FROM `pp-bigquery-02.demo_dataset_<your_name>.demo_table`;

### Step 7: Update a Record
Perform an update operation to modify a specific record in your table. Use the SQL statement below.

In [ ]:
%%bigquery
UPDATE `pp-bigquery-02.demo_dataset_<your_name>.demo_table` SET user_last_name = 'Smith' WHERE user_id = 1;

### Step 8: Delete Records
Write a query to delete specific records from your table based on certain conditions. Use the SQL statement below.

In [ ]:
%%bigquery
DELETE FROM `pp-bigquery-02.demo_dataset_<your_name>.demo_table` WHERE user_id = 1;

### Step 9: Delete All Records
To delete all records from the table, use the SQL statement below. Note: In BigQuery, the `WHERE TRUE` clause is required when you want to delete all records from a table. It's a safety feature to prevent accidental deletion of data. By explicitly stating `WHERE TRUE`, you confirm that you intend to delete every record.

In [ ]:
%%bigquery
DELETE FROM `pp-bigquery-02.demo_dataset_<your_name>.demo_table` WHERE TRUE;

### Step 10: View Records After Deletion
After deleting the records, view the remaining records to verify the deletion. Use the SQL statement below.

In [ ]:
%%bigquery
SELECT * FROM `pp-bigquery-02.demo_dataset_<your_name>.demo_table`;

### Step 11: Drop Table and Dataset
Finally, learn how to clean up by dropping the table and dataset you created. Use the SQL statements below.

In [ ]:
%%bigquery
DROP TABLE IF EXISTS `pp-bigquery-02.demo_dataset_<your_name>.demo_table`;

In [ ]:
%%bigquery
DROP SCHEMA IF EXISTS `pp-bigquery-02.demo_dataset_<your_name>`;

For more information, refer to the [BigQuery User Documentation](https://cloud.google.com/bigquery/docs).

### Please Note
While we used `SELECT *` for simplicity, remember that specifying exact columns is a best practice in BigQuery, especially when dealing with large datasets. We'll explore more advanced topics and best practices later in the course.

## Summary
In this notebook, you got familiar with BigQuery SQL operations. You created datasets and tables, inserted and managed records, and learned how to clean up by dropping tables and datasets.