### Simple Subquery Example

In [ ]:
spark.sql("""
SELECT 'apple' AS fruit, 'carrot' AS vegetable
""").show()

### CTE (Common Table Expression) Example

In [ ]:
spark.sql("""
WITH groceries AS (
  SELECT 'milk' AS dairy, 'eggs' AS protein, 'bread' AS grain
)
SELECT * FROM groceries
""").show()

### Using STRUCT in Spark SQL (with named_struct)

In [ ]:
spark.sql("""
WITH locations AS (
  SELECT named_struct('city','Seattle','state','Washington') AS location
  UNION ALL
  SELECT named_struct('city','Phoenix','state','Arizona')
)
SELECT location.city, location.state FROM locations
""").show()

### Using ARRAY of STRUCTs in Spark SQL

In [ ]:
spark.sql("""
WITH locations AS (
  SELECT array(
    struct('Seattle' AS city, 'Washington' AS state),
    struct('Phoenix' AS city, 'Arizona' AS state)
  ) AS location
)
SELECT location[0].city, location[0].state FROM locations
""").show()

### Selecting specific columns instead of EXCEPT (Spark does not support EXCEPT in SELECT)

In [ ]:
spark.sql("""
WITH orders AS (
  SELECT 5 AS order_id, 'sprocket' AS item_name, 200 AS quantity
)
SELECT item_name, quantity FROM orders
""").show()

### Replacing column value manually (instead of REPLACE)

In [ ]:
spark.sql("""
WITH orders AS (
  SELECT 5 AS order_id, 'sprocket' AS item_name, 200 AS quantity
)
SELECT order_id, 'widget' AS item_name, quantity FROM orders
""").show()

### Updating value with calculation (instead of REPLACE)

In [ ]:
spark.sql("""
WITH orders AS (
  SELECT 5 AS order_id, 'sprocket' AS item_name, 200 AS quantity
)
SELECT order_id, item_name, quantity/2 AS quantity FROM orders
""").show()

### Example with Produce dataset

In [ ]:
spark.sql("""
WITH Produce AS (
  SELECT 'Kale' AS product, 51 AS sales, 'Q1' AS quarter, 2020 AS year UNION ALL
  SELECT 'Kale', 23, 'Q2', 2020 UNION ALL
  SELECT 'Apple', 77, 'Q1', 2020
)
SELECT * FROM Produce
""").show()

### Example with Sales dataset

In [ ]:
spark.sql("""
WITH Sales AS (
  SELECT 'Daisy' AS customer, DATE('2024-01-03') AS sale_date, 'Electronics' AS product_category, 500 AS amount UNION ALL
  SELECT 'Daisy', DATE('2024-01-04'), 'Software', 30 UNION ALL
  SELECT 'Ian', DATE('2024-02-01'), 'Books', 20
)
SELECT * FROM Sales
""").show()